<% layout("/layouts/boilerplate") %>

<!-- Other content -->

<div class="row mt-3">
    <div class="col-8 offset-3 mb-3">
        <h3>Where you'll be</h3>
        <div id="mapapp" style="height: 400px;"></div>
    </div>
</div>

<!-- Declare listingData before including mapapp.js -->


<!-- Load the mapapp.js after the listingData is defined -->
<script src="/js/mapapp.js"></script>
